<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-sm">
    <h5 class="display-5" align="center">Список дел</h5>
    <figure class="text-center">
        <p></p>
    </figure>

    <form th:method="POST" th:action="@{/api/tasks}" th:object="${task}">
        <div class="mb-3">
            <label for="name">Название</label>
            <input class="form-control" type="text" th:field="*{name}" id="name"/>
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
            <div class="form-text">*обязательное поле</div>
        </div>
        <div class="mb-3">
            <label for="description">Описание: </label>
            <input class="form-control" type="text" th:field="*{description}" id="description"/>
            <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</div>
        </div>
        <div class="mb-3">
            <label for="date">Дата: </label>
            <input class="form-control" type="date" th:field="*{date}" id="date"/>
            <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">date Error</div>
        </div>
        <input type="submit" class="btn btn-primary" value="Добавить"/>
    </form>

    <br><br>

    <div class="btn-group" role="group" aria-label="Basic example">
        <a th:href="@{'/api/tasks?sort=name'}">
            <button type="button" class="btn btn-secondary">
                <div th:if="${nameSortingParam}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                        <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                    </svg>
                </div>
                <div th:if="${nameSortingParam != null && nameSortingParam == false}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-up" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                        <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zm-8.46-.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
                    </svg>
                </div>
            </button>
        </a>
        <a th:href="@{'/api/tasks?sort=date'}">
            <button type="button" class="btn btn-secondary">
                <div th:if="${dateSortingParam}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-down" viewBox="0 0 16 16">
                        <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z"/>
                        <path fill-rule="evenodd" d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z"/>
                        <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                    </svg>
                </div>
                <div th:if="${dateSortingParam != null && dateSortingParam == false}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-up" viewBox="0 0 16 16">
                        <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z"/>
                        <path fill-rule="evenodd" d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z"/>
                        <path d="M4.5 13.5a.5.5 0 0 1-1 0V3.707L2.354 4.854a.5.5 0 1 1-.708-.708l2-1.999.007-.007a.498.498 0 0 1 .7.006l2 2a.5.5 0 1 1-.707.708L4.5 3.707V13.5z"/>
                    </svg>
                </div>
            </button>
        </a>
        <a th:href="@{'/api/tasks'}"><button type="button" class="btn btn-secondary">Сбросить</button></a>
    </div>

    <br>

    <table class="table table-hover">
        <thead class="thead-dark table-dark">
        <tr>
            <th scope="col">-</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="task : ${tasksList}" th:class="${task.getStatus().matches('ACTIVE') ? 'table-default' : 'table-secondary'}"
            th:style="${task.getStatus().matches('ACTIVE') ? '' : 'text-decoration:line-through'}">
            <td>
                <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <form th:method="PATCH" th:action="@{/api/tasks/{id}/change_status(id=${task.getId()})}" th:object="${task}">
                        <button type="submit" class="btn btn-outline-success">Completed</button>
                    </form>
                    <form th:method="PATCH" th:action="@{/api/tasks/{id}/important(id=${task.getId()})}" th:object="${task}">
                        <button type="submit" class="btn btn-outline-warning">Important</button>
                    </form>
                    <form th:method="DELETE" th:action="@{/api/tasks/{id}/delete(id=${task.getId()})}" th:object="${task}">
                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                    </form>
                </div>
            </td>
            <th th:text="${task.getName()}">Name</th>
            <td th:text="${task.getDescription()}">getDescription</td>
            <td th:text="${task.getDate()}">getDate</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>